<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Times New Roman';
            font-size: 17px;
        }

        .para {
            position: relative;
            left: 17px;
            font-size: 20px;
        }

        .containera {
            position: relative;
            width: 100%;
            margin: 0 auto;
        }

            .containera img {
                left: 185px;
                width: 1100px;
                height: 500px;
            }

            .containera .content {
                position: absolute;
                bottom: 0;
                left: 13px;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 1100px;
                padding: 20px;
                font-size: 23px;
            }
    </style>
</head>
<body>


    <div class="containera">
        <img src="/Images/voteLogo.jpg">
        <div class="content">
            <h1>Virtual Voting System</h1>

            <p>Virtual Voting System is the process of voting virtually (Online) to ensure the security and safety of the voters...</p>
        </div>
    </div>
    <br />

    <div class="para">
        <p>

            In this process of voting system, voters can vote even by sitting at their homes just by having internet connection and a mobile.
            Due to this pandemic, it has become difficult in these days to come out and it will be difficult for the people to go and vote.
            And we cannot even avoid some  public places. So keeping this in mind,
            for ensuring healthy life and avoid physical contact among the people during voting, Virtual
            voting system will be helpful.
        </p>
        <p>
            Virtual voting system donot any physical copies or proofs to be submitted.
            Primarily, Voting is the primary duty of every individual person in the society.
            In order to make it easier for everyone and also to digitalize the society
            virtual voting system helps a lot.
            This system also avoids bribing.
            The only thing user has to be aware of is the voter's respective aadhar number must be linked to a mobile number.
            This mobile number is used as reference to send
            the OTP during the registration process as well as during voting.
        </p>


    </div>

</body>
</html>