<html>
<head>
    <link rel="stylesheet" href="/css/Contact.css" />
   @* This will add the styling to the view*@
    <style>
        /*This tag is used to add fontStyle,color,underline and shadow effect to the Header*/ 
        h1 {
            font-family: 'Times New Roman';
            text-shadow: inherit;
            color:black;
        }

        h2 {
            font-family:'Times New Roman';
        }
        /* This tag is used add fontstyle ,color and underline to the content of the page*/
        h3 {
            font-family: 'Times New Roman';
            color: black;
        }
        
        /* This tag is used add align,fontstyle ,color to the class*/
        .contact {
            text-align: left;
            color: black;
            font-family: 'Times New Roman';
        }
    </style>

</head>
<body>
     @*Header of the image*@
    <h1> HAVE A QUESTION ? </h1>
    <br />
    <br />
    <h2><u>Reach Us:</u></h2>
    <br />
    @*This will display the content of the contact details*@
    <div class="contact">
        <h3><b>Mobile No :</b> 9876543210</h3>
        <br />
        <h3><b>Email Id  :</b> vvs@core.com</h3>
    </div>
</body>
</html>