<!DOCTYPE HTML>
<html>
<head>
    <link rel="Stylesheet" href="~/css/StyleSheet.css">
    <title>LoginPage</title>
    <style>

        h1 {
            font-family: Times of Roman;
            font-size: 35pt;
            font-style: normal;
            font-weight: bold;
            color: blue;
            text-align: center;
            text-decoration: underline;
        }

        table {
            box-shadow: 0px 0px;
            font-family: Calibri;
            color: white;
            font-size: 15pt;
            font-style: normal;
            font-weight: bold;
            background-color: black;
            border-collapse: collapse;
            border: 2px white
        }
        /* Style the submit button */
        input[type=submit] {
            width: 10%;
            height: 10%;
            color: white;
        }
        /* Style the reset button */
        input[type=reset] {
            width: 10%;
            height: 10%;
            color: white;
        }

        p {
            color: red;
            font-size: 17px;
            text-align: center;
            font-family: 'Times New Roman';
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        <h1> LOGIN PAGE </h1>
        <br />
        <br />
        <table border="1" cellpadding="20" align="center">
            <tr>
                <td><lable for="VirtualVID">VirtualVoterID / LoginId : *</lable></td>
                <td><input type="text" name="UserName" id="" required placeholder="XXXX XXXX XXXX"></td>
            </tr>

            <tr>
                <td><lable for="Password">Password : *</lable></td>
                <td>
                    <input type="password" name="Password" id="myInput" required placeholder="XXXX XXXX XXXX">
                    <input type="checkbox" onclick="myFunction()"> View
                </td>
            </tr>
        </table>
        <br>
        @if (ViewBag.Error == false)
        {
            <p>
                INVALID CREDENTIALS
            </p>
        }

        <div align="center">
            <input type="submit" value="Submit" id="submit" class="bg-success">
            &nbsp &nbsp <input type="reset" value="Reset" class="bg-danger">
        </div>
    }

    <br>

    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>

</html>