<html>

<head>
    <link rel="stylesheet" href="~/css/Guidelines.css" />
    <style>
        h1 {
            text-align: center;
            font-family: 'Times New Roman';
            text-decoration: underline;
            color: blue;
            text-shadow: 2px 2px 2px orange;
        }

        ul.a {
            list-style-type: circle;
            font-size: 17px;
            color:black
        }

        h4 {
            color:black;
            text-decoration-line: underline
        }
    </style>
</head>

<body>


    <h1>
        HOW CAN I CAST MY VOTE ?
    </h1>
    <br />
    <h4>
        Registration:
    </h4>
    <ul class="a">
        <li> The voter has to register to get the voter Id through the portal.</li>
        <li>
            For the registration, the user requires his Aadhar number as well as the mobile number linked to the respective
            Aadhar number.
        </li>
        <li>
            After submitting the registration form, the voter will get an OTP to the mobile number associated with Aadhar.
        </li>
        <li>
            On submitting the OTP, voter will get an VVID (Virtual Voter Id) alias Login Id (to cast vote) to his mobile
            number.
        </li>
    </ul>

    <h4>
        Login:
    </h4>
    <ul class="a">
        <li>
            On the day of voting, the voter has to login to the portal by using the VVID. On submitting it,
            there will be an OTP sent to the same mobile number and on enetering successfull OTP,
            the voter will be redirected to a page where he/she can cast the vote.
        </li>
    </ul>
    <h4>
        Cast the Vote:
    </h4>
    <ul class="a">
        <li>
            After logged in, there will be a page where there is a list of candidates standing for elections.
        </li>
        <li>

            The voter has to choose the candidate on his choice an submit the vote.
        </li>
    </ul>

    <h4>
        Results:
    </h4>
    <ul class="a">
        <li>
            After casting the vote, user cannot vote again and to check the results,
            the voter can login on the day of result with the VVID
            and check the count of votes received per each candidate.
        </li>
    </ul>

    <h4>
        Guidelines:
    </h4>
    <ul class="a">
        <li>
            Link the Aadhar number with mobile number.
        </li>
        <li>
            Use the mobile number linked with Aadhar at the process of registration and voting.
        </li>
        <li>
            Donot share your Aadhar details, VVID and OTP to anyone.
        </li>
    </ul>

</body>

</html>