<!DOCTYPE HTML>
<html>
<head>
    <title> GetCandidateById</title>
    <link rel="Stylesheet" href="/css/StyleSheet1.css">
    <style>
      /*  h1 {
            font-family: Times of Roman;
            font-size: 25pt;
            font-style: normal;
            font-weight: bold;
            color: whitesmoke;
            text-align: center;
            text-decoration: underline;
            text-shadow: 2px 2px 4px orange;
            text-decoration-color: green;
        }*/

        h4 {
            text-align: center;
            color: whitesmoke;
        }

        table {
            box-shadow: 0px 0px;
            font-family: Calibri;
            color: black;
            font-size: 15pt;
            font-style: normal;
            font-weight: bold;
            /*background-color: transparent;*/
            border-collapse: collapse;
            border: 2px black;
        }
        /* Style the submit button */
        input[type=submit] {
            width: 10%;
            height: 10%;
            background-color: green;
            color: white;
        }
        /* Style the reset button */
        input[type=reset] {
            top: 200px;
            width: 10%;
            height: 10%;
            background-color: red;
            color: white;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#CandidateId").mouseleave(function () {
                var value = $("#CandidateId").val();

                var regex = /^[A-Z]{2}[0-9]{2}[A-Z]{2}[0-9]{2,}$/;

                if (!value.match(regex)) {
                    alert("Enter a valid CandidateId");
                }
            });
        });
    </script>
</head>
<body>
    <br />
    @using (Html.BeginForm())
    {
        <table border="1" cellpadding="20" align="center">
            <tr>
                <td><lable for="CandidateIdLable">Candidate Id: *</lable></td>
                <td><input type="text" name="Id" id="CandidateId" required placeholder="Enter Candidate Id"></td>
            </tr>
        </table>
        <br>
        <br>
        <div class="buttons" align="center">
            <input type="submit" value="Submit" id="submit">
            &nbsp &nbsp <input type="reset" value="Reset">
        </div>
    }
    <br>
</body>
</html>