@using (Html.BeginForm())
{

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        if (@ViewBag.Error!= null) {
            $(document).ready(function () {
                $("#btn").click(function () {
                    $("#otp").text(@ViewBag.Error);
                });
            }
    </script>

</head>
<p>OTP</p>

<input type="text" name="OTP" />

<input type="hidden" value="@ViewBag.Data" name="userDetail" />
<p id="otp"></p>
<input type="submit" value="submit" id="btn" />

}


