<html>
<head>
    
    <style>

        h1 {
            text-shadow: black;
            color: orange;
            text-align: center;
            font-size: 80px;
            text-shadow: 2px 2px 2px orangered;
        }
        h3{
            color:green;
            font-family:'Times New Roman';
            text-align:center;

        }
    </style>
</head>
<body>
    <br />
    <br />
    <h1>THANK YOU</h1>
    <br />
    <br />
    <h3>
        Your Vote is Collected
    </h3>
    <br />
    
    <p style="text-align:center"><a href="@Url.Action("Index","Account")"><input style="background-color:darkgray" type="submit" value="Home" /></a> </p>


</body>

</html>